mixin content-tile(img, category, title, description, date, author)
  a.content-tile(href="")
    .content-tile--img
      img(src=img)
    .content-tile--text
      p.content-tile--category= category
      .block-bot-sm: h3.content-tile--title= title
      if description
        p.content-tile--description= description
      p.content-tile--info
        span= date
        if date && author
          span &nbsp;&nbsp;/&nbsp;&nbsp;By 
        span= author

section#section-content-tile
  h2.inline-block Content Tile
  +github-link("content-tiles")
  
  .card
    .row
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "Retail", "New Look A/W 16/17 – Womenswear", false, "03.08.16", "Faye Howard")
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Trend Forecast", "Women's Forecast S/S 18: Slow Futures", false, "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou")
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Trade Shows", "Berlin Trade Shows S/S 17 – Premium", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "08.07.16", "Laura Yiannakou")

  include:marked content-tile.md