//- Standard
mixin content-tile(img, title, description, date, author, ...categories)
  a.content-tile(href="")
    .content-tile--img
      img(src=img)
    .content-tile--text
      if categories
        ul.content-tile--category
          each category in categories
            li= category
      .block-bot-sm: h3.content-tile--title= title
      if description
        p.content-tile--description= description
      p.content-tile--info
        if date
          span= date
        if date && author
          span &nbsp;&nbsp;/&nbsp;&nbsp;By 
        if author
          span= author

//- Featured
mixin content-tile--featured(img, title, description, date, author, ...categories)
  a.content-tile--featured(href="")
    .content-tile--img
      img(src=img)
    if categories
      ul.content-tile--category
        each category in categories
          li= category
          br
    .content-tile--text
      .block-bot-sm: h2.content-tile--title= title
      if description
        p.content-tile--description= description
      p.content-tile--info
        if date
          span= date
        if date && author
          span &nbsp;&nbsp;/&nbsp;&nbsp;By 
        if author
          span= author

//- Small
mixin content-tile--small(img, title, description, date, author, ...categories)
  a.content-tile--small(href="")
    .content-tile--img
      img(src=img)
    .content-tile--text
      .block-bot-sm: h4.content-tile--title= title
      if description
        p.content-tile--description= description
      p.content-tile--info
        if date
          span= date
        if date && author
          span &nbsp;&nbsp;/&nbsp;&nbsp;By 
        if author
          span= author
      if categories
        ul.content-tile--category
          each category in categories
            li= category

//- Video
mixin content-tile--video(img, title, description, date, length, ...categories)
  a.content-tile.content-tile--video(href="")
    .content-tile--img
      img(src=img)
      p.content-tile--length= length
    .content-tile--text
      if categories
        ul.content-tile--category
          each category in categories
            li= category
      .block-bot-sm: h3.content-tile--title= title
      if description
        p.content-tile--description= description
      if date
        p.content-tile--info= date