mixin product(id, title, pantone, rgb, hex, hasdownloads)
  .card-container
    .card(class!=attributes.class style="background-image: url('/downloads/png-sm/wgsn-" + id + ".png')")
      if !hasdownloads
        h2.highlight-color= id
      .color-codes.display-box.absolute-full
        ul.text-center
          if pantone
            li.clipboard(data-clipboard-text=pantone) Pantone 
              span= pantone
          li.clipboard(data-clipboard-text=rgb) rgb (
            span= rgb
            | )
          li.clipboard(data-clipboard-text=hex) Hex #
            span= hex

    if hasdownloads
      .btn-container.text-center
        a.btn(href="/downloads/png-sm/wgsn-" + id + ".png" download="wgsn-" + id)
          i.fa.fa-download
          | PNG (sm)

        a.btn(href="/downloads/png-lg/wgsn-" + id + ".png" download="wgsn-" + id)
          i.fa.fa-download
          | PNG (lg)

        a.btn(href="/downloads/svg/wgsn-" + id + ".svg" download="wgsn-" + id)
          i.fa.fa-download
          | SVG