mixin product-card(id, pantone, rgb, cmyk, hex, hasdownloads)
  //- .product-card(class!=attributes.class style="background-image: url('/downloads/png-sm/wgsn-" + id + ".png')")
  .product-card.wow.fadeIn(class!=attributes.class)
    if hasdownloads
      .block-bot-md: img(src="/downloads/png-sm/wgsn-" + id + ".png" height="30" alt="wgsn " + id)
    else  
      h1= id
    
    .info
      .block-bot-md.product-colors
        h3 Colour  
          span.instructions.serif.text-lowercase.text-grey.text-italic.text-normal click to copy
        ul
          if pantone
            li.btn.clipboard(data-clipboard-text=pantone) Pantone 
              span= pantone
          li.btn.clipboard(data-clipboard-text=rgb)  RGB(
            span= rgb
            | )
          if cmyk
            li.btn.clipboard(data-clipboard-text=rgb)  CMYK(
              span= cmyk
              | )
          li.btn.clipboard(data-clipboard-text=hex) HEX #
            span= hex

      .block.product-logos
        h3 Logo  
          span.instructions.serif.text-lowercase.text-grey.text-italic.text-normal click to download
        ul
          li: a.btn(href="/downloads/png-sm/wgsn-" + id + ".png" download="wgsn-" + id) PNG (sm)
          li: a.btn(href="/downloads/png-lg/wgsn-" + id + ".png" download="wgsn-" + id) PNG (lg)
          li: a.btn(href="/downloads/svg/wgsn-" + id + ".svg" download="wgsn-" + id) SVG